@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.content-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: hsl(275, 100%, 97%);
    position: absolute;
    height: 100%;
    width: 100%;
}

/* header */
.header-container {
    flex-grow: 0;
    flex-shrink: 0;
}

.background-desktop {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.background-desktop object {
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;

}


/* main element*/
.accordion-wrapper {
    max-width: 600px;
    padding: 5px;
    margin: 60px auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    z-index: 2;
}


.accordion-wrapper h2 {
    font-size: 40px;
    font-weight: 600;
    display: block;
}

.accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

#accordion-item-4 {
    border-bottom: none;
}

.accordion-item button {
    position: relative;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background: transparent;
}

.accordion-wrapper button:hover,
.accordion-wrapper button:focus {
    cursor: pointer;
    color: hsl(292, 42%, 14%);
}

.accordion-wrapper button:hover::after,
.accordion-wrapper button:focus::after {
    cursor: pointer;
    border: 1px solid #e5e5e5;
}

.accordion-wrapper button span {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
}


button span .icon-2 {
    display: none;
}

.accordion-wrapper button.active {
    color: hsl(292, 42%, 14%);
}

.accordion-wrapper button+.accordion-content {
    opacity: 1;
    max-height: 70px;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion-item .accordion-header {
    font-size: 14px;
    font-weight: 600;
    color: hsl(292, 42%, 14%);
    padding: 20px;

}

.accordion-content {
    opacity: 0;
    max-height: 0;
    color: hsl(292, 16%, 49%);
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion-content p {
    font-size: 14px;
    margin: 10px;
    text-align: justify;

}

.accordion-content.open {
    opacity: 1;
    max-height: none;
}

/* footer and elements*/
footer {
    flex-grow: 0;
    flex-shrink: 0;
    background: hsl(292, 42%, 14%);
    padding: 20px 40px;
    min-height: 10px;
    position: relative;
    height: auto;
    margin-top: 200px;
}



footer .attribution {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: rgb(177, 61, 235);
    font-size: 16px;
    font-weight: 600;
}